:root {
  --dark-blue: #00447C;
  --blue: #007DB8;
  --teal: #42AEAF;
  --carbon: #444444;
  --gray: #808080;
  --green: #6EA204;
  --white: #ffffff;
  --black: #000000;
}

.blue { color: var(--blue); }
.teal { color: var(--teal); }
.gray { color: var(--gray); }
.green { color: var(--green); }
.black { color: var(--black); }

body, h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0; }
ul { list-style: none; margin-bottom: 12px; }
li { margin-bottom: 8px; }
p { margin-bottom: 12px; }
a { color: var(--green); }
h1 { font-size: 1.8em; }
h3 {
  font-size: 1.25em;
  color: var(--white);
  background-color: var(--carbon);
  display: inline-block;
  padding: 4px 8px;
  margin: 12px 0;
}
h4 { color: var(--blue); }
h5 { font-size: 0.8em; color: var(--gray); margin-bottom: 12px; }

body {
  color: var(--carbon);
  font-family: 'Roboto Condensed', sans-serif;
}
main { padding: 48px; max-width: 868px; margin: 0 auto;}

@media (min-width: 580px) {

  h3 { margin-left: -24px; }
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

}
